<div>
    <a href="#/admin/add"> Add Photo</a>
</div>

<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>id</th>
            <th>title</th>
            <th>crdate</th>
            <th>date_modified</th>
            <th>file_name</th>
            <th>price</th>
            <th>category</th>                        
            <th>tags</th>
            <th>ACTIONS</th>
        </thead>

        <tr ng-repeat="photo in photoList">
            <td>{{photo.id}}</td>
            <td>{{photo.title}}</td>
            <td>{{photo.crdate}}</td>
            <td>{{photo.date_modified}}</td>
            <td>{{photo.file_name}}</td>
            <td>{{photo.price}}</td>
            <td>{{photo.category}}</td>
            <td>{{photo.tags}}</td>
            <td>
                <a class="btn btn-primary" href="#/admin/edit/{{photo.id}}">UPDATE</a>
                <a class="btn btn-danger" href="delete.php?id=<?php echo $photo->id ?>" >DELETE</a>
            </td>
        </tr>
    </table>
    <h2 ng-if="photoList.lenght === 0">No photo for this category</h2>
    
</div>
<div>
    <ul class="pagination justify-content-center">
        <li class="page-item"
            ng-repeat="pageNumber in pages"
            ng-class="(pageNumber == page) ? 'active disabled' : ''">
            <a class="page-link" 
               href="#/admin/list/{{pageNumber}}">
                {{pageNumber}}
            </a>
        </li>
    </ul>
    -- TOTAL: {{total}}
</div>