<h2>
    {{(action == 'edit') ? 'Edit Photo' : 'Add Photo'}}
</h2>

<form name="addEditForm" novalidate>

    <div class="form-group">
        <label for="title">Title</label> 
        <input type="text"
               class="form-control" 
               name="title" 
               ng-model="photoData.title" />
    </div>

    <div class="form-group">
        <label for="title">Original Photo(similar name)</label>
        <input type="file" 
               class="form-control" 
               name="original_photo" />
        {{( action == 'edit' ) ? photoData.original_path : ''}}
    </div>


    <div class="form-group">
        <label>Price</label>
        <input type="text" 
               class="form-control" 
               name="price" 
               ng-model="photoData.price" />
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select name="category"
                class="form-control"  
                ng-model="photoData.category">
            <option ng-repeat="category in allCategories" value="{{category}}" >
                {{category}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="code">Code</label>
        <textarea name="code" 
                  class="form-control" 
                  ng-model="photoData.code">
        </textarea>
    </div>

    <div class="form-group">
        <label for-"tags">Tags</label>
        <input type="text" 
               class="form-control"
               name="tags" 
               ng-model="photoData.tags"/>
    </div>

    <div class="form-group">
        <button type="submit"
                class="btn btn-primary"
                id="submit_new_photo" 
                name="add_photo"  >
            {{(action == 'edit') ? 'Edit' : 'Add'}}
        </button>
    </div>

</form>